.input_type{
  border: 1px solid grey;
  width: 100%;
  padding: 5px;
}
.login-input {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  margin: 0 auto;
}

.login-li {
  width: 300px;
  height: 20px;
  margin: 0 auto;
}

.login-ul {
  width: 300px;
  height: 125px;
  border: 1px solid grey;
  margin: 0 auto;
}

ul {
  list-style: none;
}
