.container{
  margin-top: 0 auto;
}
.input_type{
  border-width: 2px;
}
.login-input {
  top: 120px;
  left: 300px;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius:5px;
  margin: 0 auto;
}

.user-name{
border: 0;
}

.click-button{
  padding:5px 5px;
  margin-top: 15px;
}

.menu-tabs{
  background-color: lightgray;
  width: auto;
  height: 35px;
  font-family: inherit;
  font-size: 20px;
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

form{
  margin: 0 auto;
}